{{#models}}
{{#model}}
# -*- coding: future_fstrings -*-

from typing import Any, Dict, List, Optional, NewType, TypeVar
from dataclasses import dataclass

@dataclass
class {{{classname}}}:
    {{#parent}}
    {{#parentVars}}
    {{#description}}
    """
    {{description}}
    """
    {{/description}}
    {{name}}: {{^required}}Optional[{{/required}}{{#isPrimitiveType}}{{dataType}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{complexType}}{{/isPrimitiveType}}{{^required}}]{{/required}}{{^required}} = None{{/required}}
    {{/parentVars}}
    {{/parent}}
    {{#vars}}
    {{name}}: {{^required}}Optional[{{/required}}{{#isPrimitiveType}}{{dataType}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{complexType}}{{/isPrimitiveType}}{{^required}}]{{/required}}{{^required}} = None{{/required}}
    """
    {{description}}
    """
    {{/vars}}

{{/model}}
{{/models}}
